@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");


@media ( max-width : 599px) {
  body{
    background: #ebecf0;
    align-items: center;
  }
  .wrapper {
    margin:auto;
    position: relative;
    align-items: center;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecf0;
    overflow: hidden;
  }
  .container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    position: relative;
    width: 768px;
    min-height: 600px;
    overflow: hidden;
  }
  .sign-in-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
  }
  .sign-up-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
  }
  .overlay-left {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #F5D10D;
    color: black;
    transition: all 0.5s;
  }
  .overlay-right {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F5D10D;
    /* color: #fff; */
    transition: all 0.5s;
    color: black;
  }
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
  }
  .container.right-panel-active .overlay-right {
    transform: translateX(-100%);
    opacity: 0;
  }
  .container.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
  }
}

@media ( min-width : 600px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecf0;
    overflow: hidden;
  }
  .container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    position: relative;
    width: 768px;
    min-height: 480px;
    overflow: hidden;
  }
  .sign-in-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
  }
  .sign-up-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
  }
  .overlay-left {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #F5D10D;
    color: black;
    transition: all 0.5s;
  }
  .overlay-right {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F5D10D;
    /* color: #fff; */
    transition: all 0.5s;
    color: black;
  }
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
  }
  .container.right-panel-active .overlay-right {
    transform: translateX(-100%);
    opacity: 0;
  }
  .container.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
  }
}
@media ( min-width : 1200px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecf0;
    overflow: hidden;
  }
  .container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    position: relative;
    width: 768px;
    min-height: 480px;
    overflow: hidden;
  }
  .sign-in-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
  }
  .sign-up-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
  }
  .overlay-left {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #F5D10D;
    color: black;
    transition: all 0.5s;
  }
  .overlay-right {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F5D10D;
    /* color: #fff; */
    transition: all 0.5s;
    color: black;
  }
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
  }
  .container.right-panel-active .overlay-right {
    transform: translateX(-100%);
    opacity: 0;
  }
  .container.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
  }
}


* {
  box-sizing: border-box;
}
body, span {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  font-family: 'Ubuntu', sans-serif;
  background: #ebecf0;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
form input {
  font-family: 'Ubuntu', sans-serif;
  background: #eee;
  padding: 16px;
  margin: 8px 0;
  width: 85%;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
button {
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  margin: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.form_btn {
  font-family: 'Ubuntu', sans-serif;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
.form_btn:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.overlay_btn {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffc107;
  color: #fff;
  border: 2px solid black;
  color: black;
  /* box-shadow: -5px -5px 10px #ffc107, 5px 5px 8px #ffc107; */
  
}

.social-links {
  margin: 20px 0;
}
form h1 {
  font-weight: bold;
  margin: 0;
  color: #000;
}

p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #000;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.social-links div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  cursor: pointer;
}
.social-links a {
  color: #000;
}
.social-links div:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}