*{
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
/* navbar css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white;
    padding: 8px 12px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 15;
}

.navbar>a{
    color: #F5D10D;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar__logo {
    font-size: 24px;
    color: black;
}

.navbar__logo i {
    color: #F5D10D;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-right: 50px;
    margin-top: 10px;
}

.navbar__menu li {
    padding: 8px 12px;

}

.navbar__menu :hover {
    border-radius: 4px;
}

#category_menu {
    height: 250px;
    width: 200px;
    overflow-y: scroll;
}

#mbti_btn2 {
    margin-left: 30px;
    display: none;
    background-color: rgb(247, 247, 208);
    width: 100px;
}

#mbti_btn:hover #mbti_btn2 {
    display: block;
}

@media screen and (max-width: 935px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

button {
    margin: 5px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-family: 'Ubuntu', sans-serif;

}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #F5D10D;
  background: #F5D10D;
}
.btn-5:hover {
    color: #F5D10D;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #F5D10D;
    box-shadow:
    -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }



/* profile detail css */
.wrap{
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
    margin-left: 250px;
}

.profile {
    border : 3px solid #F5D10D;
    width: 300px;
    height: 300px;
    border-radius: 30%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
    
.user_profile_img{
    width: 300px;
    height: 300px;
    border-radius: 30%;
}

.username{
    align-items: center;
    margin-left: 125px;
}

.profile_detail_btn{
    border-radius: 5%;
    width: 600px;
}

.form-control{
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
}

.line{
    width: 500px;
    margin-left: 50px;
    color: #F5D10D;
}

.titletext{
    margin-left: 220px;
    margin-bottom: 30px;
}

.profile_detail_finish>button{
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border : 2px solid #F5D10D;
}
.profile_detail_finish>button:hover {
    background-color: #F5D10D;
    color: black;
}

.col-8>button{
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border : 2px solid #F5D10D;
}
.col-8>button:hover {
    background-color: #F5D10D;
    color: black;
}

.deleteusertext{
    margin-top: 60px;
    margin-left: 110px;
}

.profile_finish>button{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border : 2px solid #F5D10D;
}
.profile_finish>button:hover {
    background-color: #F5D10D;
    color: black;
}

.changepassword{
    margin-top: 60px;
    margin-left: 220px;
}
