/* navbar css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#263343;
    padding: 8px 12px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.navbar>a{
    color: darkorange;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-right: 50px;
    margin-top: 10px;
}

.navbar__menu li {
    padding: 8px 12px;

}

.navbar__menu :hover {
    background: #d49466;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

button {
    margin: 5px;
  }
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }



/* profile detail css */
.profile_detail_container{
    margin-left: 350px;
    margin-top: 100px;
}

.profile {
    margin-top: 200px;
    width: 300px;
    height: 300px; 
    align-items: center;
    justify-content: center;
}

.user_profile_img{
    border-radius: 30%;
    width: 300px;
    height: 300px; 
}


.username{
    align-items: center;
    margin-top: 15px;
    margin-left: 120px;
}

.user_upload_img {
    border : 1px solid gray;
    font-size: 20px;
    width: 300px;
    height: 300px;
}

.form-control{
    width: 450px;
}

.profile_detail_btn{
    margin-top: 50px;
}

.form-control{
    margin-top: 20px;
    width: 310px;
}

.profile_detail_finish>button{
    margin-top: 20px;
    width: 300px;
}

.line{
    margin-top: 30px;
    width: 300px;
}

.row {
    margin-top: 100px;
    margin-left: 150px;
    width : 400px;
    float: left;
}

.row2{
    margin-top: 350px;
    margin-right: 120px;
    margin-bottom: 100px;
    width : 400px;
    height: 490px;
    float: right;
    overflow: auto;
}
