/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:white;
  padding: 8px 12px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 15;
  background-color: #fff;
}

.navbar>a{
  color: #F5D10D;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar__logo {
  font-size: 24px;
  color: black;
}

.navbar__logo i {
  color: #F5D10D;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-right: 50px;
  margin-top: 10px;
}

.navbar__menu li {
  padding: 8px 12px;

}

.navbar__menu :hover {
  background: #F5D10D;
  border-radius: 4px;
}

@media screen and (max-width: 935px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
  }
  
  .navbar__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .navbar__menu li {
      width: 100%;
      text-align: center;
  }

  .navbar__icons {
      display: none;
      justify-content: center;
      width: 100%;
  }

  .navbar__toogleBtn {
      display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
      display: flex;
  }
}

button {
    margin: 5px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #F5D10D;
  background: #F5D10D;
}
.btn-5:hover {
    color: #F5D10D;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #F5D10D;
    box-shadow:
    -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }



/* solution_collection css */
.wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  /* background-color: #18160a; */
}

li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #img_box {
      
      width: 1200px;
      margin : 100px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .op_btn_box{
      display: flex;
      justify-content: right;
      flex-direction: row;  
      margin-top: 30px;
      margin-right: 330px;
  }
  
  #main_img{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

.rating_box{
    display: flex;
    justify-content: center;
    text-align: center;
  }

.btn{
    margin: 0 auto;
}